.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 340px;
  width: 27.42%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 50px;

  & img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_content {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(128, 48, 48, 1) 0%,
      rgba(255, 96, 96, 0.49809572326861595) 20%,
      rgba(190, 126, 137, 0) 30%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  &_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding-right: 20px;
  }
}
