@media (max-width: 768px) {
  //General

  header {
    height: 46px;
    width: 90%;
    margin: 0;
    & a {
      margin-left: 26px;
      font-size: 12px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    & img {
      width: 33%;
    }
  }

  footer {
    font-size: 12px;
  }

  section {
    margin: 20px;
  }
  //Components
  .banner {
    height: 111px;
    justify-content: start;
    border-radius: 10px;

    & span {
      font-size: 24px;
      margin-left: 16px;
      margin-right: 102px;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    height: 255px;
    width: 100%;
  }
  .collapse {
    width: 100%;
    margin-bottom: 10px;

    & button {
      height: 30px;
      font-size: 13px;
    }
    & li {
      font-size: 12px;
    }
  }
  .carousel {
    & img {
      height: 255px;
    }
    &_left {
      top: 100px;
    }
    &_right {
      top: 100px;
    }
    &_numero {
      display: none;
    }
    & i {
      font-size: 19px;
    }
  }

  //Pages

  .notFound {
    padding: 113px 0;
    & h1 {
      font-size: 96px;
    }
    & p {
      font-size: 18px;
      margin: 113px 0;
    }
    & a {
      font-size: 14px;
    }
  }

  .logement {
    width: auto;
    & h1 {
      font-size: 18px;
    }
    & span {
      font-size: 14px;
    }

    & .tags li {
      font-size: 10px;
      min-width: 84px;
    }

    & .row {
      flex-direction: column;
      margin-bottom: 0;
    }

    & .collapse {
      width: 100%;
    }

    & .hostRating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      & img {
        height: 32px;
      }
      & i {
        font-size: 13px;
      }
    }
    & .rating {
      margin-top: 0;
    }
    & ul {
      font-size: 12px;
    }
  }
}
